astropy==5.1
ccdproc==2.3.0
joblib==1.2.0
matplotlib==3.6.0
numba==0.56.3
numpy==1.23.3
numpydoc==1.4.0
pandas==1.4.2
PyYAML==6.0
ruamel.yaml==0.17.21
scikit-image==0.19.3
scikit-learn==1.1.3
ipyparallel==8.4.1